*.aux
*.bbl
*.blg
*.egg*
*.env
*.fdb_latexmk
*.fls
*.gz
*.key
*.log
*.png
!static/*.png
*.synctex
*.zip
*logs
.pytest*
.venv
__pycache__
build
dist
node_modules
tmp
wandb
!*/wandb
!staging/integrations/wandb*

# Experiments - only commit alpha.yml, ignore user custom experiments
experiments/*.yml
!experiments/alpha.yml